<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>
  </head>
  <body>
    <form action="/login/" method="post">
      {% csrf_token %}
      <label for="email">EMAIL :</label>
      <input type="email" name="email" />
      <label for="password">PASSWORD :</label>
      <input type="password" name="password" />
      <input type="submit" value="Login" />
      <p>Don't Have an Account <a href="/signup">Register Here</a></p>
    </form>
  </body>
</html>
